#
# All changes require plugin restart
#
# announce interval in seconds
# minimum 900 (15 minutes), maximum 21600 (6 hours)
interval=1620
#
# UDP connection lifetime in seconds
# minimum 60 (1 minute), maximum 21600 (6 hours)
lifetime=1200
#
showfoooter=true
#footerText=your html text here
#
# default false as of 0.19.0
#allowFullScrape=false
